<p *ngIf="mostrar" style="background-color: red;"> Hola desde el componente Ejercicio if</p>
<p *ngIf="mostrar == false" style="background-color: blue;">Lorem ipsum dolor sit amet consectetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere corporis cumque quia tempore voluptate amet, beatae esse ipsam adipisci tempora laborum recusandae eaque ipsum porro, mollitia debitis quis in saepe enim repudiandae dicta! Debitis reiciendis eos molestias voluptatem nisi, fuga nam veniam repudiandae quod iusto distinctio! Accusantium recusandae ratione ipsam?</p>

<input type="button" value="Mostrar" (click)="ver()">
<input type="button" value="Ocultar" (click)="ocultar()">
